*{
    margin: 0;
    padding: 0;
}
.subscription {
    display: flex;
    margin: 20px;
    padding: 20px;
    gap: 10px;
    justify-content: center;

}
.header {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    background-color:pink;
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.s1,.s2,.s3 {
    color:white;
    background-color: black;
    border: solid black 2px;
    border-radius: 10px;
    padding: 20px;
    margin:20px;
    
}

ul {
    list-style: none;
      border:solid white 1px;
      border-radius: 20px;
      padding: 20px;
      margin: 20px;
}
.s1__title,.s2__title,.s3__title {
    text-align:center;
    padding: 5px;
    margin: 5px;

}
.s1__sub,.s2__sub,.s3__sub {
    text-align:center;
     padding: 5px;
       margin: 5px;

}